language: python
python:
  - "3.6"
  - "3.7"
# command to install dependencies
install:
  - pip install marshmallow>=3.* numpy pytest
  - pip install -e .
# command to run tests
script:
  - pytest tests/ -v