div.autodoc-docstring {
  padding-left: 20px;
  margin-bottom: 30px;
  border-left: 5px solid rgba(230, 230, 230);
}

div.autodoc-members {
  padding-left: 20px;
  margin-bottom: 15px;
}

header.md-header, div.md-footer-nav, div.md-footer-meta.md-typeset {
  background-color: #13274F;
}

a, a:hover {
  color: #13274F !important;
  text-decoration-line: underline;
}

.md-nav__link--active, .md-nav__link:active, .md-nav__item--nested > .md-nav__link {
  color: #13274F;
}

.md-footer-meta.md-typeset a, .md-flex__ellipsis, i.md-icon {

  color: hsla(0,0%,100%,.7) !important;

}